// -----------------------------------------------------------------------------
// Basic typography style for copy text
// -----------------------------------------------------------------------------

.heading-xxl {
    font-family: $font-regular;
    font-size: 6.875rem;
    line-height: 1;

    @media all and (max-width: $bp-tablet-sm) {
        font-size: 2.625rem;
    }
}

.heading-xl {
    font-family: $font-medium;
    font-size: 4.5rem;
    line-height: 1.2;

    @media all and (max-width: $bp-tablet-sm) {
        font-size: 2.625rem;
    }
}

.heading-lg {
    font-family: $font-medium;
    font-size: 2.625rem;
    line-height: 1.2;

    @media all and (max-width: $bp-tablet-sm) {
        font-size: 2rem;
    }
}

.heading-md {
    font-size: 1.875rem;
    line-height: 1.2;

    @media all and (max-width: $bp-tablet-sm) {
        font-size: 1.5rem;
    }
}

.heading-sm {
    font-family: $font-medium;
    font-size: 1.75rem;
    line-height: 1.2;

    @media all and (max-width: $bp-tablet-sm) {
        font-size: 1.125rem;
    }
}

.heading-xs {
    font-family: $font-medium;
    font-size: 1.375rem;
    line-height: 1.2;
}

.heading-xxs {
    font-family: $font-medium;
    font-size: 1.125rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.body-xl,
.body-xl p {
    font-family: $font-regular;
    font-size: 1.375rem;
    line-height: 1.4;
    color: #000;

    @media all and (max-width: $bp-tablet-sm) {
        font-size: 1.125rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding-bottom: 1rem;
    font-weight: normal;
    color: $color-black;
    letter-spacing: -0.64px;
}

body,
p,
ol,
ul {
    font-family: $font-regular;
    font-size: 0.9375rem;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0;
}

p,
ol,
ul {
    color: $color-grey;
}

p {
    &:not(:last-child) {
        padding-bottom: 1rem;
    }
}

.font-md {
    font-family: $font-medium;
}

.font-reg {
    font-family: $font-regular;
}
.single-post__contents {
    a {
        @extend %text-link;
        color: $color-black !important;
    }

    strong {
        font-weight: normal !important;
    }

    // ol,
    // ul {
    //     padding-left: 2rem;
    //     // padding-bottom: 1rem;
    // }

    .btn--wrapper {
        a {
            background: none;
        }
    }
}
